<<<<<<< HEAD
p  {
		color: red;
		text-align: center;
		text-shadow: 5px 5px #000000;
		}
	
=======
h1  {
	color: gold;
	text-align: center;
	text-shadow: 5px 5px #000000;
	}
>>>>>>> dbabdd8cee77cce68c68ff9521fba279491d0d31
