.pic1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%
  
}
#pic1 {
    border: 5px;
    padding: auto;
    border-radius: 15px;
    border-left-color: blanchedalmond;
    border-right-color: cornflowerblue;

}