.nav {
    font-size: 30px;
    overflow: hidden; 
    background-color: #fff; 
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 1; 
    margin-top: 20px;
    margin-bottom: 5px;
    -webkit-animation: moveNav 1s; 
    animation: moveNav 1s; 
}
.navbar a {
    float: left;
    display: block; 
    color: white; 
    padding: 14px 16px; 
    text-decoration: none; 
    font-family: Avant Garde, Helvetica; 
    font-size: 20px; 
    text-align: center; 
    position: relative; 
    -webkit-animation: moveNavText 2s; 
    animation: moveNavText 2s; 
}
.navbar a.move { 
    background-color: rgb(17, 2, 2);
}
@keyframes moveNav {
    from {top: -100vw;} 
    to {left: 0vw;} 
}
.navbar a:hover {
    background-color: #7a0c0c; /* Defines the background color that will display when you hover over the link */
    color: rgb(69, 10, 165); /* This defines the font color that will display when navbar a elements are hovered over */
    font-weight: bold; /* This makes the text on the navbar bold when hovered over */
}
.Navbar a.move { /* This targets the a element on the navbar with the "active" class */
    background-color: darkgray;
}